header {
  position: fixed;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 68px;
  font-size: 14px;
  background-image: linear-gradient(180deg,rgba(0,0,0,.7) 10%, transparent); 
  transition: background-color 0.5s ease-in;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #e50914; /* Netflix Red for your name */
  }
  
  .logo .highlight {
    color: white; /* Netflix style - White for last name */
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav ul li {
    margin-left: 20px;
  }
  
  nav ul li a {
    align-items: center;
    color: #e5e5e5;
    display: flex;
    height: 100%;
    position: relative;
  }
}

header.hasBackground {
  background-color: black;
}
